.sidebar-container {
  height: 100vh;
  position: relative;
  z-index: 20;
  transition: transform 0.3s ease-in-out;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

@media (max-width: 1024px) {
  .sidebar-container {
    position: fixed;
    transform: translateX(-100%);
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    display: block;
  }
}
